<%= form_for @record, html: get_default_form_html_options(@record), remote: true do |f| %>
  <div>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Description', required: true %>
    <%= f.text_field :total_value, class: 'form-control', placeholder: 'Total Value', disabled: true, value: (number_with_precision(f.object.total_value, precision: 9) || 0), required: true %>
  </div>
  <div>
    <%= f.submit action, class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>