<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= id %>">
        <%= resource %>
      </a>
    </h4>
  </div>
  <div id="<%= id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <%= render partial: panelDataPartial, locals: panelDataLocals %>
    </div>
  </div>
</div>