body, html {
  background: #FFFFFF;
  padding-top: 40px;
}

#formModal,
#searchModal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -50%;
  z-index: 2150 !important;
}

.application_menu {
  margin-top: 10%;
}

.custom-btn-danger {
  padding: 10px;
  margin: 0 auto;
  max-width: 300px;
  height: 45px;
}

.btn-right {
  position: relative;
  top: 22px;
}

.user-button-group {
  position: absolute;
  right: 5%;
}

.datepicker {
  z-index: 2151 !important;
}

.jumbotron {
  text-align: center;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.fa-angle-left {
  padding-right: 15px;
}

#btn_angle_left {
  width: 30px;
  margin-top: -5px;
}

.modal-header {
  height: 60px;
}

#wrapper_modal_header {
  margin-top: 3px;
}

#stacked_icon_text {
  width: 100%;
  position: relative;
  float: right;
  margin-top: -70px;
  padding-left: 110px;
}

.thumbnail {
  background: #FFFFFF;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.20);
}

.squared_icons {
  padding-top: 5px;
}

.img-circle {
  margin-top: 2px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
  -moz-box-shadow:    0 0 4px rgba(0,0,0,0.3);
  box-shadow:         0 0 4px rgba(0,0,0,0.3);
}

.img-circle:hover {
  background: #2980b9;
  -webkit-box-shadow: 0 0 4px rgba(41,128,185,1);
  -moz-box-shadow:    0 0 4px rgba(41,128,185,1);
  box-shadow:         0 0 4px rgba(41,128,185,1);
}